{% extends "header.njk" %}

{% block content %}
    <form action="/admin/chefs?_method=PUT" method="post" enctype="multipart/form-data">
        <input type="hidden" name="id" value="{{chef.id}}">
        <div class="container-create">

            <div class="title-admin">
                <h2>Editando Chef</h2>
                <div class="buttons">
                    <button class="chef-delete" type="submit" form="form-delete">Deletar</button>
                    <button class="chef-save" type="submit">Salvar chef</button>
                </div>

            </div>

            <div class="recipe-admin">
                <h4>Nome</h4>
                <input type="text" name="name" value="{{chef.name}}" class="input-create">
            </div>

            <div class="recipe-admin">
                <h4>Avatar</h4>
                <input type="text" name="avatar_url" value="{{files.src}}" class="input-create">
                <div class="avatar-field">
                    <div class="avatar-upload">
                        <button type="button" class="btn-save">Enviar Avatar</button>
                        <input class="inputHidden" type="file" name="photos" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event, 1)">
                    </div>
                    <div id="photos-preview">
                        {% if files %}
                            <div class="photo" id="{{files.id}}">
                                <img src="{{files.src}}" alt="{{files.name}}">
                                <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">
                                    close
                                </i>
                            </div>
                            <input type="hidden" name="removed_files">
                        {% endif %}
                    </div>

                </div>
            </div>

        </div>

    </form>

    <form action="/admin/chefs?_method=DELETE" id="form-delete" method="post">
        <input type="hidden" name="id" value="{{chef.id}}">
    </form>
{% endblock %}