<div class="container-create">

    <div class="title-admin">
        <h2>Criando receita</h2>
        <button class="btn-save" type="submit">Salvar receita</button>
    </div>
    <!--Upload Image -->
    <div class="recipe-admin">
        <h4>Imagem da Receita</h4>
        <div id="photos-field">
            <div id="photos-upload">
                <input id="photos-input" type="file" name="photos" multiple="multiple" accept="image/*" onchange="PhotosUpload.handleFileInput(event, 5)">
                <span class="material-icons">
                    add
                </span>
            </div>

            <div id="photos-preview">
                {% if files %}
                    {% for image in files %}
                        <div class="photo" id="{{image.id}}">
                            <img src="{{image.src}}" alt="{{image.name}}">
                            <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">
                                close
                            </i>
                        </div>
                    {% endfor %}
                    <input type="hidden" name="removed_files">
                {% endif %}
            </div>
        </div>

    </div>

    <div class="recipe-admin">
        <h4>Chef</h4>
        <select name="chef_id" id="chefOptions">
            {% for chef in chefsOptions %}
                <option value="{{chef.id}}" placeholder="Selecione um chef">{{chef.name}}</option>
            {% endfor %}
        </select>
    </div>

    <div class="recipe-admin">
        <h4>Nome da receita</h4>
        <input type="text" name="name" value="" class="input-create">
    </div>

    <div class="recipe-admin">
        <h4>Ingredientes</h4>
        <div id="ingredients">
            <div class="ingredient">
                <input type="text" name="ingredients[]" value="" class="input-create">
            </div>
        </div>
        <button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
    </div>

    <div class="recipe-admin">
        <h4>Modo de preparo</h4>
        <div id="steps">
            <div class="prepare">
                <input type="text" name="step[]" value="" class="input-create">
            </div>
        </div>
        <button type="button" class="add-step">Adicionar novo passo</button>
    </div>

    <div class="recipe-admin">
        <h4>Informações adicionais</h4>
        <textarea name="recipeInfo" class="input-info" form="form-create"></textarea>
    </div>

</div>